<?php 
  namespace vio\support\view;

  $w = new Widget();

  $tr = $w->tr($w->_->map($w->td($w->_)));
  $a = $w->a(['href' => $w->url], $w->text);
  $list = $w->ul(['class' => 'compact-list'], $w->_->map($w->li($w->_)));
  $data = [];
  $all = 0;
  $violations = 0;
  $violators = 0;
  $last = "";
  $byStudent = [];
  foreach ($this->data as $group) {
    $dates = [];
    $reporters = [];
    foreach ($group as $row) {
      $all++;
      $dates[] = $row->formatDate();
      $reporters[] = $row->security;
    }
    $url = $this->url("index.php/by-student/{$row->code}");
    $data[] = [[++$violations, 
        $a(['url' => $url, 'text' => $row->code]), 
        $a(['url' => $url, 'text' => $row->name]),
        $row->year, $row->section,
        $row->description
      ], $dates, $reporters];

    if (empty($last) || $last != $row->code) {
      $violators++;
      $last = $row->code;
    }

    if (empty($byStudent[$row->code])) {
      $byStudent[$row->code] = [$this->escape($row->name), $url, 1];
    } else {
      $byStudent[$row->code][2]++;
    }
  }

  if (!empty($byStudent)) {
    usort($byStudent, function ($left, $right) {
      return $right[2] - $left[2];
    });
  }
  $diff = $all - $violations;
  $header = $this->header ?: "This week";
?>

          <h1 class="page-header"><?= $this->escape($header) ?></h1> 
          <p>
            <strong><?= $violations ?></strong> total violation<?= $violations != 1 ? 's' : '' ?> 
            <?= $diff != 0 ? "(+{$diff} same day repeats)" : "" ?> by 
            <strong><?= $violators ?></strong> violator<?= $violators != 1 ? 's' : '' ?>.
          </p>
<?php if (!empty($byStudent)): ?>
          <ul>
<?php   foreach ($byStudent as $student): list($name, $url, $count) = $student ?>          
            <li>
              <a href="<?= $url ?>"><strong><?= $name ?></strong></a>
              has <?= $count ?> violation<?= $count != 1 ? 's' : '' ?>.
            </li>
<?php   endforeach ?>
          </ul>
<?php endif ?>
<?php if (!empty($this->lastMonth)): ?>
          <hr/>
          <a href="<?= $this->url("index.php/by-month/{$this->lastMonth}") ?>">
            &laquo; previous month
          </a>
<?php endif ?>
<?php if (!empty($this->nextMonth)): ?>
          <p></p>
          <a href="<?= $this->url("index.php/by-month/{$this->nextMonth}") ?>">
            &raquo; next month
          </a>
<?php endif ?>
          <hr />
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>code</th>
                  <th>name</th>
                  <th>year/grade</th>
                  <th>section</th>
                  <th>violation</th>
                  <th><span class="caret"></span> committed on</th>
                  <th>reported by</th>
              </thead>
              <tbody>
<?php foreach ($data as $row): ?>
          <?= $tr(['_' => array_merge($row[0], 
                    [$list(['_' => $row[1]]), $list(['_' => $row[2]])])]) ?>
<?php endforeach; ?>
              </tbody>
            </table>
          </div>

