<?php
  namespace vio\support\view;

?>
<h1 class="page-header">Top violators</h1>

<div class="list-group">
<?php foreach ($this->data as $row): ?>
  <a class="list-group-item clearfix" href="<?= $this->url('index.php/by-student/' . $row['code']) ?>">
    <span class="col-xs-4 tight-left">
      <?= $row['count'] ?> violation<?= $row['count'] != 1 ? 's' : '' ?></span>
    <span class="col-xs-6"><?= $row['name'] ?></span>
    <span class="col-xs-2 tight-right"># <span class="label label-primary"><?= $row['code'] ?></span></span>
  </a>
<?php endforeach ?>
</div>
