<?php

namespace vio\support\view;

$w = new Widget();
$bs = new Bootstrap();
$this->indentLevel = 2;
$mainNav = [
  ['url' => $this->url('index.php'), 'item' => 'this week'],
  ['url' => $this->url('index.php/by-month'), 'item' => 'by month'],
  ['url' => $this->url('index.php/by-student'), 'item' => 'by student'],
];

?>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="<?= $this->url("/assets/css/bootstrap.min.css") ?>" rel="stylesheet" />
    <link href="<?= $this->url("/assets/css/bootstrap-theme.min.css") ?>" rel="stylesheet" />
    <link href="<?= $this->url("/assets/css/common.css") ?>" rel="stylesheet" />

    <title>ViolationSlip Reports</title>

    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <?= $bs->navbar('ViolationSlip Reports', [
      'navbarFormName' => 'search',
      'navbarFormAction' => $this->url("/index.php/search"),
      'navbarForm' => $w->div(['class' => 'input-group'],
        $w->input([
          'type' => 'text', 
          'class' => 'form-control',
          'name' => 'value',
          'placeholder' => 'Search by name or code',
        ]),
        $w->div(['class' => 'input-group-btn'],
          $w->button(['class' => 'btn btn-primary', 'type' => 'submit'],
            $w->span(['class' => 'glyphicon glyphicon-search'])))
      ),
    ])->using($this) ?>

<?php $main = $this->renderPartial($this->subTemplate ?: '_content.phtml') ?>

    <?= $bs->twoPaneView(
      'col-sm-3 col-md-2 sidebar', 
      'col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main',
    [
      'navActive' => $this->url->current(),
      'left' => $bs->nav(['navItems' => $mainNav, 'navClass' => 'nav nav-sidebar']),
      'right' => $bs->unsafe($main),
    ])->using($this) ?>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="<?= $this->url('/assets/js/holder.min.js') ?>"></script>
    <script src="<?= $this->url('/assets/js/bootstrap.min.js') ?>"></script>
    <!---->
  </body>
</html>

